
<div class="page-header topbar text-center">
  <h1>RoRoster <small>giving you full-court advantage</small></h1>
</div>
<div>
<button class="btn"><%= link_to 'New Recruit', new_roster_path %></button
	> 
</div>
<div class="playStats">
  <%= render 'playerStats'%>
</div>


