<div> <%= render 'banner'%> </div>

<div class="span1 offset10"><%= link_to 'Back', rosters_path %></div>

<div class="nameBox span6 offset3"><b> Add New Player </b></div>

<div><%= render 'form' %></div>


